﻿/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
*{
    margin: 0;
    padding:0;
}

body{background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/type.png') repeat;
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
}

nav {
    text-align: center;
    margin: 20px 0;
}

.main li:hover > ul {
    display: block;
}

.main {
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 7px;  
    list-style: none;
    position: relative;
    display: inline-table;
}

.main:after {
    content: ""; 
    clear: both; 
    display: block;
}

.main li {
    float: left;
}

.main li:hover a {
    color: #fff;
    text-decoration: underline;
    transition: .5s linear;
}

.main li a {
    display: block; 
    padding: 15px 30px;
    color: #424242; 
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.logIn {
    position:absolute;
    top: 36px;
    right: 38px;
    font-size: 17px;
    font-weight: 600;
}

.navbar-brand img {
    width: 35px;
    height: 35px;
    margin-top: -7px;
}

.countriesInfo img {
    width: 200px;
    height: 200px;
}

.specialInfo h5 {
    text-align: left;
}

.info p {
    text-transform: lowercase;
}

.info p::first-letter {
    text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

footer {
    background-color: #f2f2f2;
    height: 60px;
}

footer h6 {
    font-weight: 600;
    margin-top: 23px; 
    text-align: left;
}

footer img {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-left: 8px;
}

@media (max-width: 1400px) {
    .countriesInfo img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 1150px) {
    .countriesInfo img {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 770px) {
    
    .countriesInfo img {
        width: 170px;
        height: 170px;
    }

    footer {
        padding: 5px;
    }
    footer img {
        width: 15px;
        height: 15px;
    }
    .main li a {
        font-size: 8px;
    }
}