﻿@using Exadel.Training.TourOperator.Data.Entities
@model IEnumerable<Country>

@{
    Layout = null;
    int count = 0;
    int stringsAmount = Enumerable.Count(Model) / 5 + Enumerable.Count(Model) % 5;
    List<int> indexes = new List<int>();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Countries</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Countries/countries.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <nav class="navbar">
        <ul class="main">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
            <li><a href="@Url.Action("Countries", "Home")"><span class="glyphicon glyphicon-globe"></span> COUNTRIES</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-plane"></span> TOUR SELECTION</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> CONTACT</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span> FAQ</a></li>
        </ul>
    </nav>

    <div class="logIn">
        @if (@ViewBag.User == "")
        {
            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
        }
        else
        {
            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
        }
    </div>

    <br><br>

    <div class="wrapper">
        <div class="content">
            <div class="countriesInfo">
                <div class="container-fluid bg-3 text-center">
                    @for (int i = 0; i < stringsAmount; i++)
                    {
                        <div class="row">
                            <div class="col-sm-1"></div>
                            @foreach (var item in Model)
                            {
                                if (count < 5)
                                {
                                    if (!indexes.Contains(@item.Id))
                                    {
                                        string path = "http://res.cloudinary.com/dby4pjuo8/image/upload/Flags/" + @item.Name + ".png";
                                        <div class="col-sm-2">
                                            @Ajax.ImageActionLink(path, " ", "CertainCountryInfo", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "certainCountryInfo" })
                                        </div>
                                        indexes.Add(@item.Id);
                                        count++;
                                    }
                                }
                                else if (count == 5)
                                {
                                    count = 0;
                                    break;
                                }
                            }
                            <div class="col-sm-1"></div>
                        </div>
                        <br />
                    }
                </div>
            </div>

            <div class="specialInfo" id="certainCountryInfo">
            </div>

        </div>

        <div class="footer">
            <footer class="container-fluid text-center">
                <a href="https://www.instagram.com/">
                    <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/instagram.png" alt="Image" title="instagram">
                </a>
                <a href="">
                    <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/facebook.gif" alt="Image" title="facebook">
                </a>
                <a href="https://twitter.com/?lang=ru">
                    <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/twitter.png" alt="Image" title="twitter">
                </a>
                <a href="">
                    <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/skype.png" alt="Image" title="skype">
                </a>
                <h6>©AnneHanush</h6>
            </footer>
        </div>
    </div>

</body>

</html>


