﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Index/index.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <nav class="navbar">
        <ul class="main">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
            <li><a href="@Url.Action("Countries", "Home")"><span class="glyphicon glyphicon-globe"></span> COUNTRIES</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-plane"></span> TOUR SELECTION</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> CONTACT</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span> FAQ</a></li>
        </ul>
    </nav>

    <div class="logIn">
        @if (@ViewBag.User == "")
        {
            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
        }
        else
        {
            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
        }
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slider1.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Ichmeler</h3>
                </div>
            </div>

            <div class="item">
                <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slider2.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Marmaris</h3>
                    <p>GREEN NATURE DIAMOND</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container text-center">
        <h3>BEST OFFERS</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/BestOffers/bestoffers2.jpg" class="img-responsive" alt="Image">
                <p>Blue-Bay Platinum <br> MARMARIS</p>
            </div>
            <div class="col-sm-4">
                <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/BestOffers/bestoffers1.jpg" class="img-responsive" alt="Image">
                <p>Natural Diamond <br> HURGADA</p>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <p>
                        <a href="#">Marmaris </a>
                        is port town and tourist resort on the Mediterranean coast, located southwest Turkey.
                    </p>
                </div>
                <div class="well">
                    <p>
                        <a href="#">Hurgada</a>
                        is a city in the Red Sea Governorate of Egypt.
                    </p>
                </div>
            </div>
        </div>
    </div><br>

    <footer class="container-fluid text-center">
        <a href="https://www.instagram.com/">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/instagram.png" alt="Image" title="instagram">
        </a>
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/facebook.gif" alt="Image" title="facebook">
        </a>
        <a href="https://twitter.com/?lang=ru">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/twitter.png" alt="Image" title="twitter">
        </a>
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/skype.png" alt="Image" title="skype">
        </a>
        <h6>©AnneHanush</h6>
    </footer>

</body>

</html>

