﻿@model Exadel.Training.TourOperator.WebUI.Models.QuastionModel

<div class="container-fluid bg-3 text-left">
    <div class="row">
        <div class="col-1-2">helper</div>
        <div class="col-1-3">
            <h2>New quastion</h2>
            <hr style="border-color: darkgrey;">
        </div>
    </div>
</div>
<div class="container-fluid bg-3 text-left">
    <div class="row">
        <div class="col-1-2">helper</div>
        <div class="col-1-3">
            <form action="https://formspree.io/anne.hanush97@gmail.com" method="POST">
                <div class="form-group">
                    <div class="form-group">
                        <label for="qst">Quastion:</label>
                        <input type="text" name="quastion" class="form-control" id="qst" style="width: 40%;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mail">Your Email:</label>
                    <input type="email" name="_replyto" class="form-control" id="mail" style="width: 40%;">
                </div>
                <input type="hidden" name="_subject" value="NEW QUASTION was asked on FAQ of Tour Agency" />
                <input type="submit" value="Send" class="btn btn-primary">
                <input type="hidden" name="_next" value="@Url.Action("Sent", "Home")" />
            </form>
        </div>
    </div>
</div>