﻿@model Exadel.Training.TourOperator.Data.Entities.Country

@{
    Layout = null;
    string visa = "";
}

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2>@Model.Name</h2>
            <br />
            <div class="info">
                <p>@Model.Info</p><br />
            </div>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < 3; i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                </ol>

                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Countries/@Model.Name/1.jpg" alt="Image">
                    </div>

                    @for (int i = 2; i < 4; i++)
                    {
                        <div class="item">
                            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Countries/@Model.Name/@(i).jpg" alt="Image">
                        </div>
                    }
                </div>

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
            <br />
            <div class="container-fluid bg-3 text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <h4 style="text-align: left;">Visa cost: </h4>
                        <h4 style="text-align: left;">Currency: </h4>
                        <h4 style="text-align: left;">Language: </h4>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-9">
                        @if (Model.VisaCost == null)
                        {
                            visa = "No visa needed";         
                        }
                        else
                        {
                            visa = Model.VisaCost.ToString() + " USD";
                        }
                        <h5 style="text-align: left; font-size: 16px;">@visa</h5>
                        <h5 style="text-align: left; font-size: 16px;">@Model.Currency</h5>
                        <h5 style="text-align: left; font-size: 16px;">@Model.Language</h5>
                    </div>
                </div>
            </div>

            <div class="container-fluid bg-3 text-center">
                <div class="row">
                    <div class="col-sm-5" style="text-align: left; font-size: 21px; margin-top: 5px;">
                        <a href="@Url.Action("TourSelection", "TourSelection", new { currentCountryName = Model.Name })" class="btn btn-primary" role="button">Select tour</a>
                    </div>
                    <div class="col-sm-7">
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>

        <div class="col-sm-3"></div>
    </div>
</div>
<br />