﻿@using Exadel.Training.TourOperator.Data.Entities
@model IEnumerable<Country>

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Contact/contact.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <div class="header_menu">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Paradise</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })">home</a></li>
                    <li><a href="@Url.Action("Countries", "Home", new { area = "" })">countries</a></li>
                    <li><a href="@Url.Action("TourSelection", "TourSelection", new { area = "" })">tour selection</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })">contact</a></li>
                    <li><a href="@Url.Action("FAQ", "Home", new { area = "" })">f.a.q.</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Register", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li>
                        @if (@ViewBag.User == "")
                        {
                            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="menuUnder"></div>

    <br><br>

    <div class="content">
        <div class="news">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-3">
                        <h2>Contact Us</h2>
                        <hr style="border-color: darkgrey;">
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-3">
                        <p>Vivamus auctor justo ac ipsum suscipit sed pulvinar quam porttitor. Pellentesque blandit condimentum dapibus. Aliquam tempus vulputate leo id pulvinar. Proin ultrices tincidunt sem, sit amet congue felis imperdiet interdum. Duis in leo eros, vel luctus erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet ante et mauris vestibulum dignissim. Fusce quis bibendum lorem. Integer venenatis aliquam justo quis varius.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="map">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2432.784278927662!2d31.014270218573568!3d52.42870630284661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d468546360eef1%3A0x2a1ef76d15db8f73!2z0YPQuy4g0KHQvtCy0LXRgtGB0LrQsNGPIDE5LCDQk9C-0LzQtdC70Yw!5e0!3m2!1sru!2sby!4v1489228118842" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="contactInfo">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-4">
                        <div class="icon">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </div>
                        <div class="text">
                            19 Sovetskaya St,<br>
                            Belarus<br>
                            Gomel
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="icon">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="text">
                            <a href="#">email@sitename.org</a>
                        </div> <br>
                        <div class="icon">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        </div>
                        <div class="text">
                            +375 44 111 22 33
                        </div>
                        <br>
                        <div class="icon">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        </div>
                        <div class="text">
                            +375 44 111 22 33
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <footer class="container-fluid text-center">
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/facebook.gif" alt="Image" title="facebook">
        </a>
        <a href="https://twitter.com/?lang=ru">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/twitter.png" alt="Image" title="twitter">
        </a>
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/skype.png" alt="Image" title="skype">
        </a>
        <h6>COPYRIGHT © 2017 PARADISE</h6>
    </footer>

</body>

</html>


