﻿@using Exadel.Training.TourOperator.Data.Entities
@model IEnumerable<Country>

@{
    Layout = null;
    int count = 0;
    int stringsAmount = Enumerable.Count(Model) / 3 + Enumerable.Count(Model) % 3;
    List<int> indexes = new List<int>();
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Countries</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Countries/countries.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <div class="header_menu">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Paradise</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })">home</a></li>
                    <li><a href="@Url.Action("Countries", "Home", new { area = "" })">countries</a></li>
                    <li><a href="@Url.Action("TourSelection", "TourSelection", new { area = "" })">tour selection</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })">contact</a></li>
                    <li><a href="@Url.Action("FAQ", "Home", new { area = "" })">f.a.q.</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Register", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li>
                        @if (@ViewBag.User == "")
                        {
                            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="menuUnder"></div>

    <br /><br />

    <div class="wrapper">
        <div class="content">

            <div class="specialInfo" id="certainCountryInfo">
                @if (@ViewBag.CountryId != -1)
                {
                    @Html.Action("CertainCountryInfo", "Home", new { id = ViewBag.CountryId })
                }
            </div>

            <br /><br />

            <div class="container-fluid bg-3 text-center">
                @for (int i = 0; i < stringsAmount; i++)
                {
                    <div class="row">
                        <div class="col-1-1">helper</div>
                        @foreach (var item in Model)
                        {
                            if (count < 3)
                            {
                                if (!indexes.Contains(@item.Id))
                                {
                                    string path = "http://res.cloudinary.com/dby4pjuo8/image/upload/Country/" + item.Name + ".jpg";
                                    <div class="col-1-3">
                                        <div class="banner">
                                            <img src="@path">
                                            <div class="label">
                                                <div class="title">@item.Name</div>
                                                <div class="price">FROM<span>$ 1990</span></div>
                                                @Ajax.ActionLink("Learn More", "CertainCountryInfo", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "certainCountryInfo" }, new { @class = "linkCountry" })
                                            </div>
                                        </div>
                                    </div>
                                    indexes.Add(@item.Id);
                                    count++;
                                }
                            }
                            else if (count == 3)
                            {
                                count = 0;
                                break;
                            }
                        }
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>

    <br><br>

    <footer class="container-fluid text-center">
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/facebook.gif" alt="Image" title="facebook">
        </a>
        <a href="https://twitter.com/?lang=ru">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/twitter.png" alt="Image" title="twitter">
        </a>
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/skype.png" alt="Image" title="skype">
        </a>
        <h6>COPYRIGHT © 2017 PARADISE</h6>
    </footer>

</body>

</html>


