﻿@using Exadel.Training.TourOperator.Data.Entities
@model IEnumerable<FAQ>

@{
    int count = 0;
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>F.A.Q.</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/FAQ/faq.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <div class="header_menu">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Paradise</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })">home</a></li>
                    <li><a href="@Url.Action("Countries", "Home", new { area = "" })">countries</a></li>
                    <li><a href="@Url.Action("TourSelection", "TourSelection", new { area = "" })">tour selection</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })">contact</a></li>
                    <li><a href="@Url.Action("FAQ", "Home", new { area = "" })">f.a.q.</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Register", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li>
                        @if (@ViewBag.User == "")
                        {
                            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="menuUnder"></div>

    <br><br>

    <div class="content">
        <div class="news">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-3">
                        <h2>F.A.Q.</h2>
                        <hr style="border-color: darkgrey;">
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-3">
                        <p>Vivamus auctor justo ac ipsum suscipit sed pulvinar quam porttitor. Pellentesque blandit condimentum dapibus. Aliquam tempus vulputate leo id pulvinar. Proin ultrices tincidunt sem, sit amet congue felis imperdiet interdum. Duis in leo eros, vel luctus erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet ante et mauris vestibulum dignissim. Fusce quis bibendum lorem. Integer venenatis aliquam justo quis varius.</p>
                    </div>
                </div>
            </div>
        </div>

        <br><br />

        <div class="quastions">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-4">
                        <div class="panel-group" id="accordion">
                            @foreach (var item in Model)
                            {
                                if (item.Answer != null)
                                {
                                    count++;
                                    string id = "faq-sub" + count.ToString();
                                    <!-- FAQ Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@id">
                                                <h4 class="panel-title">
                                                    @item.Question
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="@id" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @item.Answer
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-1-0">helper</div>
                    <div class="col-1-1">
                        <h3>Could not find the answer?</h3>
                        <p>If you couldn't find the answer, you can ask a quastion. Push the buttton down below to ask a quastion.</p>
                        @Ajax.ActionLink("ASK A QUESTION", "AskAQuastion", new { }, new AjaxOptions { UpdateTargetId = "AskAQuastion" }, new { @class = "btn btn-primary" })
                    </div> 
                </div>
            </div>
        </div>
        <br />
        <div class="AskAQuastion" id="AskAQuastion">
        </div>
    </div>

    <br /><br /><br />

    <footer class="container-fluid text-center">
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/facebook.gif" alt="Image" title="facebook">
        </a>
        <a href="https://twitter.com/?lang=ru">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/twitter.png" alt="Image" title="twitter">
        </a>
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/skype.png" alt="Image" title="skype">
        </a>
        <h6>COPYRIGHT © 2017 PARADISE</h6>
    </footer>      

</body>

</html>

