﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Index/style.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <div class="header_menu">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Paradise</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li class="active"><a href="@Url.Action("Index", "Home")">home</a></li>
                    <li><a href="@Url.Action("Countries", "Home")">countries</a></li>
                    <li><a href="@Url.Action("TourSelection", "TourSelection", new { area = "" })">tour selection</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })">contact</a></li>
                    <li><a href="@Url.Action("FAQ", "Home", new { area = "" })">f.a.q.</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Register", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li>
                        @if (@ViewBag.User == "")
                        {
                            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>  


    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slide3.jpg);"></div>
                <div class="carousel-caption">
                    <h2>Seven Mile Beach and all that Grand Cayman</h2>
                    <h3>Hyatt Regency Grand Cayman is the island's finest Caribbean beach resort.</h3>
                    <a href="#" class="btn btn-primary" role="button">more details</a>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slide1.jpg);"></div>
                <div class="carousel-caption">
                    <h2>Tropical Princess - Domenican Republic Resort</h2>
                    <h3>A beautiful resort, where you can have a peaceful holiday in a tropical paradise.</h3>
                    <a href="#" class="btn btn-primary" role="button">more details</a>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slide2.jpg);"></div>
                <div class="carousel-caption">
                    <h2>Four Seasons - Resort Great Exuma at Emerald Bay</h2>
                    <h3>Sun, sand, and sea are merely perimetersof the Islands of the Bahamas.</h3>
                    <a href="#" class="btn btn-primary" role="button">more details</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>

    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-1-1">helper</div>
            <div class="col-1-3">
                <div class="banner">
                    <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Country/Spain.jpg">
                    <div class="label">
                        <div class="title">Spain</div>
                        <div class="price">FROM<span>$ 1990</span></div>
                        <a href="@Url.Action("Countries", "Home", new { name = "Spain" })">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="banner">
                    <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Country/Greece.jpg" alt="">
                    <div class="label">
                        <div class="title">Greece</div>
                        <div class="price">FROM<span>$ 1.500</span></div>
                        <a href="@Url.Action("Countries", "Home", new { name = "Greece" })">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="banner">
                    <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Country/France.jpg" alt="">
                    <div class="label">
                        <div class="title">France</div>
                        <div class="price">FROM<span>$ 1.600</span></div>
                        <a href="@Url.Action("Countries", "Home", new { name = "France" })">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="news">
        <div class="container-fluid bg-3 text-left">
            <div class="row">
                <div class="col-1-2">helper</div>
                <div class="col-1-3">
                    <h2>Latest news</h2>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-1-2">helper</div>
            <div class="col-1-4">
                <div class="block1">
                    <time datetime="2017-01-01">10<span>Jan</span></time>
                    <div class="extra_wrapper">
                        <div class="text1 col1"><a href="#">No visa needed</a></div>
                        Congratulations! Now you don't need visa to travel to Israel!
                    </div>
                </div>
            </div>
            <div class="col-1-1">helper</div>
            <div class="col-1-4">
                <div class="block1">
                    <time datetime="2017-01-01">10<span>Jan</span></time>
                    <div class="extra_wrapper">
                        <div class="text1 col1"><a href="#">No visa needed</a></div>
                        Congratulations! Now you don't need visa to travel to Israel!
                    </div>
                </div>
            </div>
            <div class="col-1-1">helper</div>
            <div class="col-1-4">
                <div class="block1">
                    <time datetime="2017-01-01">10<span>Jan</span></time>
                    <div class="extra_wrapper">
                        <div class="text1 col1"><a href="#">No visa needed</a></div>
                        Congratulations! Now you don't need visa to travel to Israel!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <footer class="container-fluid text-center">
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/facebook.gif" alt="Image" title="facebook">
        </a>
        <a href="https://twitter.com/?lang=ru">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/twitter.png" alt="Image" title="twitter">
        </a>
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/skype.png" alt="Image" title="skype">
        </a>
        <h6>COPYRIGHT © 2017 PARADISE</h6>
    </footer>

</body>

</html>

