﻿@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/FAQ/faq.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <div class="header_menu">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Paradise</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })">home</a></li>
                    <li><a href="@Url.Action("Countries", "Home", new { area = "" })">countries</a></li>
                    <li><a href="@Url.Action("TourSelection", "TourSelection", new { area = "" })">tour selection</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })">contact</a></li>
                    <li><a href="@Url.Action("FAQ", "Home", new { area = "" })">f.a.q.</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Register", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li>
                        @if (@ViewBag.User == "")
                        {
                            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="menuUnder"></div>

    <br><br>

    <div class="content">
        <h3 style="text-align: center;">Your question has been sent successfully.<br /></h3>
        <h4 style="text-align: center;">You will receive a response from our employee at the address you indicated when sending the question as fast as it possible.</h4>
    </div>

</body>

</html>

