﻿.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
*{
    margin: 0;
    padding:0;
}

body{background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/type.png') repeat;
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
}

nav {
    text-align: center;
    margin: 20px 0;
}

.main li:hover > ul {
    display: block;
}

.main {
    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 7px;  
    list-style: none;
    position: relative;
    display: inline-table;
}

.main:after {
    content: ""; 
    clear: both; 
    display: block;
}

.main li {
    float: left;
}

.main li:hover a {
    color: #fff;
    text-decoration: underline;
    transition: .5s linear;
}

.main li a {
    display: block; 
    padding: 15px 30px;
    color: #424242; 
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.navbar-brand img {
    width: 35px;
    height: 35px;
    margin-top: -7px;
}
    

h2 {
    text-align: center;
}