﻿@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100%;
    
}

.content {
    font-family: 'Roboto', sans-serif;
}

.menuUnder {
    background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slide2.about.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
}

.header_menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-custom {
    height: 100px;
    background-color:#2A9B64;
    border-radius:0;
    opacity: 0.92;
}

.navbar-brand {
    margin-top: 23px;
    font-weight: 700;
    color: white;
    font-size: 2.4em !important;
}

.navbar-brand:hover{
    color: #76E8A4;
    transition: 0.5s;
}

.navbar-nav li a{
    margin-top: 23px;
    font-weight: 700;
    color: white;
    font-size: 1.2em !important;
}

.navbar-nav li a:hover{
    font-weight: 700;
    transition: 0.5s;
    color: #76E8A4;
}

.nav li.active, .nav li.active:hover, li:hover, a:hover, a:active, a:focus {
     background-color: transparent !important;
} 


.dropdown-menu li a:hover {
    background-color: #76E8A4 !important;
}

[class*='col-1'] {
  float: left;
}


.col-1-2 {
    color: transparent;
    width: 20%;
}

.col-1-3 {
  width: 60%;
}

.col-1-4 {
  width: 30%;
}

.col-1-1 {
    width: 20%;
}

.col-1-5 {
    width: 80%;
}

.col-1-6 {
    width: 60%;
}
    
.col-1-7 {
    width: 40%;
}

 .col-1-15 {
    width: 13%;
}
    
.col-1-25 {
    width: 21%;
}

.col-find {
    width: 80;
}

.panel-heading a {
    color: #333;   
}

.pull-right {
    color: #2A9B64;   
}

.fixed-panel {
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
}

footer {
    background-color: #30BA6A;
    padding: 10px;
    margin: 0 0;
    color: #333;

}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    height: 36px;
    width: 110px;
    background-color: #2A9B64 !important;
    border-color: #2A9B64 !important;
    opacity: 0.92;
}

.btn-primary:hover {
    background-color: #2A9B64 !important;
    border-color: #2A9B64 !important;
    opacity: 0.92;
    color: black!important;
    transition: 0.5s;
}

footer h6 {
    font-weight: 600;
    margin-top: 13px; 
    text-align: left;
}

footer img {
    float: right;
    width: 30px;
    height: 30px;
    margin: 0 0 8px 8px;
}

@media (max-width: 1480px) {
    
    .col-1-2 {
        color: transparent;
        width: 15%;
    }

    .col-1-3 {
        width: 70%;
    }

    .col-1-4 {
        width: 35%;
    }

    .col-1-1 {
        width: 20%;
    }

    .col-1-5 {
        width: 80%;
    }

    .col-1-6 {
        width: 60%;
    }
    
    .col-1-7 {
        width: 40%;
    }
    
    .col-1-15 {
        width: 15%;
    }
    
    .col-1-25 {
        width: 25%;
    }

}
