﻿@model Exadel.Training.TourOperator.WebUI.Models.MultipleModel

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tour selection</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/TourSelection/tourSelection.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <script type="text/javascript">
            $(document).ready(function(){
            var date_input=$('input[name="date"]'); //our date input has the name "date"
            var options={
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>
</head>

<body>

    <div class="header_menu">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Paradise</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })">home</a></li>
                    <li><a href="@Url.Action("Countries", "Home", new { area = "" })">countries</a></li>
                    <li><a href="@Url.Action("TourSelection", "TourSelection", new { area = "" })">tour selection</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })">contact</a></li>
                    <li><a href="@Url.Action("FAQ", "Home", new { area = "" })">f.a.q.</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Register", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li>
                        @if (@ViewBag.User == "")
                        {
                            <a href="@Url.Action("Login", "Account", new { area = "AccountArea"})"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Logout", "Account", new { area = "AccountArea"})"> @ViewBag.User </a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="menuUnder"></div>

    <br><br>

    <div class="content">
        <div class="tours">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-3">
                        <h2>TOUR SELECTION</h2>
                        <hr style="border-color: darkgrey;">
                    </div>
                </div>
            </div>
        </div> 
        <br />
        <div class="upper">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-4">
                        <div class="col-1-1">
                            Departure city:
                        </div>
                        <div class="col-1-5">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:  75%; text-align: left;">
                                    @ViewBag.CurrentDepartureCity
                                    <span class="caret" style="float: right; margin-top: 2%;"></span>
                                </button>
                                <ul class="dropdown-menu" style="width:  75%; text-align: left;">
                                    @foreach (var departureCity in Model.DepartureCities)
                                    {
                                        if (departureCity.Name != ViewBag.CurrentDepartureCity)
                                        {
                                            <li><a href="#">@departureCity.Name</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="col-1-1">
                            Tour:
                        </div>
                        <div class="col-1-5">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle myButton" type="button" data-toggle="dropdown" style="width: 75%; text-align: left;">
                                    -----
                                    <span class="caret" style="float: right; margin-top: 2%;"></span>
                                </button>
                                <ul class="dropdown-menu" style="width:  75%; text-align: left;">
                                    @foreach (var tour in Model.CurrentTourTypes)
                                    {
                                        <li><a href="#">@tour</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-4">
                        <div class="col-1-1">
                            Country:
                        </div>
                        <div class="col-1-5">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:  75%; text-align: left;">
                                    @ViewBag.CurrentCountry
                                    <span class="caret" style="float: right; margin-top: 2%;"></span>
                                </button>
                                <ul class="dropdown-menu" style="width:  75%; text-align: left;">
                                    @foreach (var country in Model.Countries)
                                    {
                                        if (country.Name != ViewBag.CurrentCountry)
                                        {
                                            <li><a href="#">@country.Name</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr style="width: 60%;">
            </div>
        </div>

        <br /><br />

        <div class="middle">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-4">
                        <div class="col-1-6">
                            <div class="col-1-1" style="width:  33%;">
                                Departure from:
                            </div>
                            <div class="col-1-5" style="width:  67%;">
                                <div class="form-group">
                                    <input class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text" style="width:  75%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-1-7">
                            <div class="col-1-1" style="width:  33%;">
                                Nights from:
                            </div>
                            <div class="col-1-5" style="width:  67%;">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:  60%; text-align: left;">
                                        @Model.NightsAmounts.FirstOrDefault()
                                        <span class="caret" style="float: right; margin-top: 12%;"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="min-width:  10px; width: 60%; text-align: left;">
                                        @foreach (var amount in Model.NightsAmounts)
                                        {
                                            if (amount != Model.NightsAmounts.FirstOrDefault())
                                            {
                                                <li><a href="#">@amount</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="col-1-6" style="width:  50%;">
                            <div class="col-1-1" style="width:  33%;">
                                People:
                            </div>
                            <div class="col-1-5" style="width:  67%;">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:  60%; text-align: left;">
                                        amount
                                        <span class="caret" style="float: right; margin-top: 12%;"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="min-width:  10px; width: 60%; text-align: left;">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-6" style="width:  50%;">
                            <div class="col-1-1" style="width:  33%;">
                                Currency:
                            </div>
                            <div class="col-1-5" style="width:  67%;">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:  60%; text-align: left;">
                                        type
                                        <span class="caret" style="float: right; margin-top: 12%;"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="min-width:  10px; width: 60%; text-align: left;">
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">BYN</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-4">
                        <div class="col-1-6">
                            <div class="col-1-1" style="width:  33%;">
                                to:
                            </div>
                            <div class="col-1-5" style="width:  67%;">
                                <div class="form-group">
                                    <input class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text" style="width:  75%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-1-7">
                            <div class="col-1-1" style="width:  33%;">
                                to:
                            </div>
                            <div class="col-1-5" style="width:  67%;">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:  60%; text-align: left;">
                                        @Model.NightsAmounts.FirstOrDefault()
                                        <span class="caret" style="float: right; margin-top: 12%;"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="min-width:  10px; width: 60%; text-align: left;">
                                        @foreach (var amount in Model.NightsAmounts)
                                        {
                                            if (amount != Model.NightsAmounts.FirstOrDefault())
                                            {
                                                <li><a href="#">@amount</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr style="width: 60%;">
            </div>
        </div>

        <br><br>

        <div class="down">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-15">
                        <p>Resorts:</p>
                        <div class="panel panel-default" style="width:  90%; margin-top: -3%;">
                            <div class="panel-body fixed-panel">
                                <div class="radio">
                                    @foreach (var resort in Model.CurrentResorts)
                                    {
                                        <label class="checkbox" style="margin-bottom: 1%;"><input type="checkbox">@resort</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-15">
                        <p>Category:</p>
                        <div class="panel panel-default" style="width:  90%; margin-top: -3%;">
                            <div class="panel-body fixed-panel">
                                <div class="radio">
                                    <label class="checkbox" style="margin-bottom: 1%;"><input type="checkbox">2*</label>
                                    <label class="checkbox" style="margin-bottom: 1%;"><input type="checkbox">3*</label>
                                    <label class="checkbox" style="margin-bottom: 1%;"><input type="checkbox">4*</label>
                                    <label class="checkbox" style="margin-bottom: 1%;"><input type="checkbox">5*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-25">
                        <p>Hotel:</p>
                        <div class="panel panel-default" style="width:  90%; margin-top: -1.5%; text-transform: uppercase;">
                            <div class="panel-body fixed-panel">
                                <div class="radio">
                                    @foreach (var hotel in Model.CurrentHotels)
                                    {
                                        <label class="checkbox" style="margin-bottom: 1%;"><input type="checkbox">@hotel.Name &nbsp; @hotel.Rating*</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-15">
                        <p>Diet:</p>
                        <div class="panel panel-default" style="width:  90%; margin-top: -3%; text-transform: uppercase;">
                            <div class="panel-body fixed-panel">
                                <div class="radio">
                                    @foreach (var tyd in Model.TypesOfDiet)
                                    {
                                        <label class="checkbox" style="margin-bottom: 1%;"><input type="checkbox">@tyd.Name</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="find">
            <div class="container-fluid bg-3 text-left">
                <div class="row">
                    <div class="col-1-2">helper</div>
                    <div class="col-1-3">
                        <a href="#" class="btn btn-primary" role="button" style="float: right; margin-right: 2%;">Find</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <br /><br /><br />

    <footer class="container-fluid text-center">
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/facebook.gif" alt="Image" title="facebook">
        </a>
        <a href="https://twitter.com/?lang=ru">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/twitter.png" alt="Image" title="twitter">
        </a>
        <a href="">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Social/skype.png" alt="Image" title="skype">
        </a>
        <h6>COPYRIGHT © 2017 PARADISE</h6>
    </footer>

</body>

</html>

