﻿html,
body {
    height: 100%;
}

.carousel {
    height: 30%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption {
    margin-bottom: 23px;
}


.header_menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-custom {
    height: 100px;
    background-color:#2A9B64;
    border-radius:0;
    opacity: 0.92;
}

.navbar-brand {
    margin-top: 23px;
    font-weight: 700;
    color: white;
    font-size: 2.4em !important;
}

.navbar-brand:hover{
    color: #76E8A4;
    transition: 0.5s;
}

.navbar-nav li a{
    margin-top: 23px;
    font-weight: 700;
    color: white;
    font-size: 1.2em !important;
}

.navbar-nav li a:hover{
    font-weight: 700;
    transition: 0.5s;
    color: #76E8A4;
}

.nav li.active, .nav li.active:hover, li:hover, a:hover, a:active, a:focus {
     background-color: transparent !important;
} 

h2 {
    text-align: center;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    height: 36px;
    width: 150px;
    background-color: #2A9B64 !important;
    border-color: #2A9B64 !important;
    opacity: 0.92;
}

.btn-primary:hover {
    background-color: #2A9B64 !important;
    border-color: #2A9B64 !important;
    color: black!important;
    transition: 0.5s;
}
