﻿@model Exadel.Training.TourOperator.WebUI.Areas.AccountArea.Models.LoginModel

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Account/account.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <div class="header_menu">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Paradise</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })">home</a></li>
                    <li><a href="@Url.Action("Countries", "Home", new { area = "" })">countries</a></li>
                    <li><a href="#">tour selection</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })">contact</a></li>
                    <li><a href="@Url.Action("FAQ", "Home", new { area = "" })">f.a.q.</a></li>
                </ul>
            </div>
        </nav>
    </div>  

    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slide1.about.jpg);"></div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slide2.about.jpg);"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Slider/slide1.jpg);"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>

    <br />

    <div class="wrapper">
        <div class="content">

            <h2>Login</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="container-fluid bg-3 text-center">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            @Html.ValidationSummary(true)

                            <div class="form-group" style="width:300px; margin-right:auto; margin-left:auto; border:1px hidden;">
                                <input type="hidden" class="form-control" name="returnUrl" value="@ViewBag.returnUrl"/>
                                <p>
                                    <label>UserName:</label><br />
                                    @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.UserName)
                                </p>
                                <p>
                                    <label>Password:</label><br />
                                    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Password)
                                </p>
                                <p><button type="submit" class="btn btn-default">Log In</button></p><br />
                                <a href="@Url.Action("Register", "Account", new { area = "AccountArea"})" class="btn btn-primary">Registration</a>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>

</html>

