﻿@model Exadel.Training.TourOperator.WebUI.Areas.AccountArea.Models.RegisterModel

@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ragistration</title>

    <link rel="shortcut icon" href="http://res.cloudinary.com/dby4pjuo8/image/upload/icon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="~/Content/css/Account/Login/login.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
</head>

<body>

    <nav class="navbar">
        <ul class="main">
            <li><a href="@Url.Action("Index", "Home", new { area = "" })"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
            <li><a href="@Url.Action("Countries", "Home", new { area = "" })"><span class="glyphicon glyphicon-globe"></span> COUNTRIES</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-plane"></span> TOUR SELECTION</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> CONTACT</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span> FAQ</a></li>
        </ul>
    </nav>

    <br />

    <div class="wrapper">
        <div class="content">

            <h2>Registration</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="container-fluid bg-3 text-center">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            @Html.ValidationSummary()

                            <div class="form-group" style="width:300px; margin-right:auto; margin-left:auto; border:1px hidden;">
                                <div>
                                    <label>* UserName:</label><br />
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div>
                                    <label>* EMail:</label><br />
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div>
                                    <label>Full name:</label><br />
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div>
                                    <label>* Date of birth:</label><br />
                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div>
                                    <label>Gender:</label><br />
                                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div>
                                    <label>* Password:</label><br />
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div>
                                    <label>* Confirm password:</label><br />
                                    @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <br />
                                <div>
                                    <input type="submit" class="btn btn-default" value="Sign Up" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>

</html>





