﻿html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.header_menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption {
    margin-bottom: 23px;
}

.navbar-custom {
    height: 100px;
    background-color:#2A9B64;
    border-radius:0;
    opacity: 0.92;
}

.navbar-brand {
    margin-top: 23px;
    font-weight: 700;
    color: white;
    font-size: 2.4em !important;
}

.navbar-brand:hover{
    color: #76E8A4;
    transition: 0.5s;
}

.navbar-nav li a{
    margin-top: 23px;
    font-weight: 700;
    color: white;
    font-size: 1.2em !important;
}

.navbar-nav li a:hover{
    font-weight: 700;
    transition: 0.5s;
    color: #76E8A4;
}

.nav li.active, .nav li.active:hover, li:hover, a:hover, a:active, a:focus {
     background-color: transparent !important;
}

.banner {
    top: -25px;
    position: relative;
}

.banner .label {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -18px;
    right: 0;
    text-transform: uppercase;
}


.banner .label .title {
    font-size: 30px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.banner .label .price span {
    display: block;
    font-size: 24px;
    padding-top: 3px;
}

.banner a {
    font-size: 14px;
    line-height: 20px;
    color: #c73430;
    text-transform: uppercase;
    display: inline-block;
    background-color: #e5e5e5;
    padding: 5px 18px 4px;
    margin-top: 25px;
    border-radius: 13px;
}

.banner a:hover {
    color: #fff;
    background-color: #c73430 !important;
    transition: 0.7s;
    text-decoration: none;
}

[class*='col-1'] {
  float: left;
}

.col-1-1 {
    color: transparent;
    width: 11%;
}

.col-1-3 {
  width: 26%;
}

.col-1-2 {
    color: transparent;
    width: 16%;
}

.col-1-4 {
  width: 15%;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    height: 36px;
    width: 150px;
    background-color: #2A9B64 !important;
    border-color: #2A9B64 !important;
    opacity: 0.92;
}

.btn-primary:hover {
    background-color: #2A9B64 !important;
    border-color: #2A9B64 !important;
    opacity: 0.92;
    color: black!important;
    transition: 0.5s;
}

.block1 {
    overflow: hidden;
}

.block1 time {
    float: left;
    display: block;
    background: url(../../../Content/img/time_bg.png) 0 0 repeat-x #d64842;
    border-radius: 13px;
    color: #fff;
    width: 60px;
    text-transform: uppercase;
    margin-right: 18px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding-top: 7px;
    margin-top: 4px;
    padding-bottom: 24px;
    box-shadow: 3px 3px 3px #eeeeee;
    position: relative;
}

.text1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.text1 a {
/*    color: #f3aa29;*/
    color: #30BA6A;
    font-weight: 600;
}

.text1 a:hover {
/*    color: #f3aa29;*/
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.block1 time  span {
    border-bottom: 1px solid #b42d29;
    margin: 0 3px;
    font-size: 14px;
    display: block;
    padding-top: 3px;
    padding-bottom: 4px;
}

.block1 time:after {
    height: 23px;
    content: '☁';
    border-top: 1px solid #e08885;
    position: absolute;
    left: 3px;
    right: 3px;
    color: #e5e5e5;
    font-size: 18px;
    line-height: 21px;
    font-family: 'FontAwesome';
    bottom: 0;
}

.news {
    text-transform: uppercase;
    text-align: left;
}

footer {
    background-color: #30BA6A;
    padding: 10px;
    margin: 0 0;
    color: #333;

}

footer h6 {
    font-weight: 600;
    margin-top: 13px; 
    text-align: left;
}

footer img {
    float: right;
    width: 30px;
    height: 30px;
    margin: 0 0 8px 8px;
}

@media (max-width: 1174px) {
    .col-1-1 {
        color: transparent;
        width: 0%;
    }

    .col-1-3 {
        width: 100%;
    }
}